@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Anuphan';
}

video,
canvas {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/** Fade */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.slide-fade-enter-active {
    transition: all 0.5s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}

/** คำสั่งซ่อน div เวลากด print ให้ไม่แสดง **/
@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }

    body {
        position: relative;
        width: 100%;
        top:3em; 
        left:0px;
        right:0px;
        padding-bottom: 10mm;
    }

    .footer {
        position: fixed;
        bottom: 0;
      }
}